.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.cell {
  flex: 0 0 32%;
  height: 50px;
  margin-bottom: 5px;
  background-color: #999;
}
.cell:nth-child(3n) {
  background-color: #F00;
}